:root {
  --color-blue: #0075be;
  --color-yellow: #ffcc00;
  --color-red: #fb1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: 3rem auto 3rem;
  height: 100vh;
}

main {
  overflow-y: scroll;
}
